
@{
    ViewBag.Title = "Chức năng và nhiệm vụ của Trung tâm Tin học HUIT";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<nav aria-label="breadcrumb" class="breadcrumb mx-2">
    @Html.MvcSiteMap().SiteMapPath()
</nav>

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container" style="max-width: 800px; padding: 20px; background-color: #ededed; border-radius: 8px;">
        <div class="col-md-12">
            <h2 class="text-center" style="color: orangered">@ViewBag.Title</h2>
            <p>
                Trong suốt chặng đường phát triển của nhà trường, Trung tâm Công nghệ Thông tin luôn giữ vai trò chủ đạo trong thiết kế và triển khai hệ thống cơ sở hạ tầng công nghệ thông tin toàn trường. Chúng ta cùng điểm qua một số nhiệm vụ mà Trung tâm đã và đang giải quyết như:<br />
                <br />
                –Xây dựng, quản lý, vận hành, bảo dưỡng, sửa chữa hệ thống máy tính, hạ tầng mạng: Lan, wifi, website, server, dữ liệu, camera an ninh giám sát trong Nhà trường; bảo đảm an toàn thông tin mạng.<br />
                <br />
                – Xây dựng quy định về sử dụng mạng và quản lý người dùng mạng của Nhà trường. Hỗ trợ người dùng mạng khai thác có hiệu quả thiết bị và các tài nguyên trên mạng; Xây dựng hệ thống an ninh mạng máy tính trong Nhà trường<br />
                <br />
                – Sửa chữa, bảo dưỡng máy tính và thiết bị ngoại vi cho các đơn vị thuộc trường và các phòng học thực hành máy tính của trường giao cho Trung tâm.<br />
                <br />
                – Nghiên cứu, xây dựng và triển khai ứng dụng các chương trình công nghệ thông tin vào công tác quản lý và giảng dạy học tập của Nhà trường.<br />
                <br />
                – Phối hợp với Trung tâm tuyển sinh và Dịch vụ đào tạo, các đơn vị có liên quan trong và ngoài Trường để đào tạo, bồi dưỡng, kiểm tra và cấp chứng chỉ các chương trình tin học ngắn hạn. Liên kết với các trung tâm đào tạo trong và ngoài nước để đào tạo, bồi dưỡng, kiểm tra và cấp chứng chỉ các chương trình tin học Quốc tế.<br />
                <br />
                – Điều tra thị trường về nhu cầu nguồn nhân lực công nghệ thông tin, mở các lớp đào tạo ngắn hạn, trung hạn về công nghệ thông tin theo nhu cầu xã hội.<br />
                <br />
                Trong thời gian qua, tập thể cán bộ của TT đã làm các công việc nêu trên và tiến hành sửa chữa, khắc phục lỗi khi cần thiết… Nhờ đó các cá nhân, tổ chức có thể quản lý và sử dụng dữ liệu một cách dễ dàng và hiệu quả. Việc khắc phục và sửa chữa sự cố diễn ra nhanh chóng, kịp thời. Về bộ phận ngắn hạn “Phục vụ nhiệt tình”, luôn lấy sự hài lòng của người học làm động lực cho sự phấn đấu của mình. Bên cạnh đó TT CNTT còn tăng cường liên kế và phát triển các chương trình tin học ngắn hạn.<br />
                <br />
                Với sự nỗ lực phấn đấu không ngừng, TT CNTT đã đưa ra các giải pháp phòng ngừa hạn chế những rủi ro và phương hướng giải quyết các vấn đề hiệu quả góp phần làm cho cơ sở hạ tầng công nghệ thông tin toàn trường ngày càng cải thiện và phát triển, hiện đại.<br />
                <br />
                Trong thời gian tới, tập thể cán bộ TT CNTT sẽ tiếp tục phát huy những thành tích đã đạt được và đặt ra những mục tiêu cụ thể, thiết thực về các nhiệm vụ và công tác đào tạo nhằm thực hiện xuất sắc mọi nhiệm vụ được nhà trường giao.<br />
            </p>
            <div class="text-center">
                <img src="~/images/phongmay.jpg" alt="Location Image" class="img-fluid" style="max-width: 100%; height: auto; border-radius: 8px;">
                <p style="color: orangered" class="fw-bold mt-1"><em>Trụ sở chính: 140 Lê Trọng Tấn, Phường Tây Thạnh, Quận Tân Phú, TP. HCM</em></p>
            </div>
        </div>
    </div>
</div>

