
@{
    ViewBag.Title = "Lịch sử hình thành của Trung tâm tin học HUIT";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<nav aria-label="breadcrumb" class="breadcrumb mx-2">
    @Html.MvcSiteMap().SiteMapPath()
</nav>

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container" style="max-width: 800px; padding: 20px; background-color: #ededed; border-radius: 8px;">
        <div class="col-md-12">
            <h2 class="text-center" style="color: orangered">@ViewBag.Title</h2>
            <p>
                👉 Thực hiện nhiệm vụ chính trị đào tạo nguồn nhân lực lao động có chất lượng cao trong xu thế hội nhập, Trường Cao đẳng Công nghiệp Thực phẩm TP.Hồ Chí Minh  đã đạt được kết quả phát triển không ngừng về quy mô đào tạo cũng như hệ thống hạ tầng, đội ngũ cán bộ quản lý và giảng dạy. Vì vậy, ngày 23/02/2010 Thủ tướng Chính phủ đã ban hành quyết định số 284/QĐ-TTG, nâng cấp lên thành Trường Đại học Công nghiệp Thực phẩm TP.Hồ Chí Minh. Nhằm đáp ứng được sự thay đổi về trình độ đào tạo đại học và sau đại học, nâng cao chất lượng đào tạo, Nhà trường đã cấu trúc lại hệ thống tổ chức nhằm chuyên môn hóa chức năng và nhiệm vụ, trong đó là việc thành Trung tâm Công nghệ Thông tin. Trung tâm Công nghệ Thông tin (TT.CNTT) được thành lập ngày 01/12/2010 trên cơ sở tách bộ phận kỹ thuật từ Khoa Công nghệ Thông tin.<br />
                👉 Ban đầu, TT.CNTT đảm nhiệm việc quản lý, bảo dưỡng máy tính và thiết bị tin học tại các phòng thực hành, các đơn vị trong trường; đào tạo các lớp ngắn hạn về công nghệ thông tin.<br />
                👉 Từ năm 2012 đến nay, ngoài những nhiệm vụ trước đây, TT.CNTT tiến hành phát triển và triển khai hệ thống cơ sở hạ tầng công nghệ thông tin toàn trường.<br />
                👉 Từ năm 2017 đến nay, TT.CNTT tiến hành thêm việc phát triển và triển khai hệ thống hành chính điện tử, website toàn trường; tổ chức ôn tập và thi chứng chỉ ứng dụng công nghệ thông tin cơ bản cho sinh viên và các đối tác bên ngoài; phát triển và triển khai hệ thống giám sát an ninh qua camera; hệ thống giám sát bằng vân tay.<br />
                👉 Từ năm 2020 đến nay, TT.CNTT tiến hành thêm việc phát triển và triển khai hệ thống đào tạo trực tuyến cho các Khoa.<br />
            </p>
            <div class="text-center">
                <img src="~/images/phongmay.jpg" alt="Location Image" class="img-fluid" style="max-width: 100%; height: auto; border-radius: 8px;">
                <p style="color: orangered" class="fw-bold mt-1"><em>Trụ sở chính: 140 Lê Trọng Tấn, Phường Tây Thạnh, Quận Tân Phú, TP. HCM</em></p>
            </div>
        </div>
    </div>
</div>
